{% extends 'base.html.twig' %}

{% block title %}Modification Jeu{% endblock %}

{% block main %}
    <h1>Modification du jeu : {{ jeu.nom }}</h1>
    {{ include('jeu/_form.html.twig') }}
{% endblock %}
